<ul class="tools">
    {{#each tools}}
       <li>
           <a href="#" data-name="{{this}}" class="btn">
               {{this}}
           </a>
       </li>
    {{/each}}
</ul>

<ul class="fillOptions">
    {{#each opts}}
        <li>
            <a href="#" data-name="{{this}}" class="btn">
                {{this}}
            </a>
        </li>
    {{/each}}
</ul>

<ul class="settings">
    {{#each settings}}
        <li>
            <a href="#" data-name="{{this}}" class="btn">
                {{this}}
            </a>
        </li>
    {{/each}}
</ul>